<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Book lists</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bookform.css" />
</head>
<body>
  <form action="/books" method="POST">
    <div class="bookform">
      <div class="title">
        <h3>Book Title</h3>
        <input type="text" name="title" placeholder="Enter title">
      </div>
      <div class="description">
        <h3>Description</h3>
        <input type="textarea" name="description" placeholder="description">
      </div>
      <div class="pages">
        <h3>Pages</h3>
        <input type="Number" name="pages" placeholder="Enter pages">
      </div>
      <div class="tags">
        <h3>tags</h3>
        <input type="text" name="tags" placeholder="Enter tags">
      </div>
      <div class="submit">
        <input type="Submit" value="Save Book">
      </div>
    </div> 
  </form>
</body>
</html>