<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
</head>
<body>
  <h2 class="heading">BookStore </h2>
  <div class="login">
    <h4>User Login</h4>
    <form action="/user/login" method="POST">
        <input type="email"name="email" placeholder="Enter Email">
        <input type="password" name="password" placeholder="choose a Strong password">
        <input type="submit" value="login">
      </form>
  </div>
</body>
</html>