<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Update Author</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bookform.css" />
</head>
<body>
  <p>Update Author Details</p>
  <form action="/authors/<%= author._id %>" method="POST">
    <div class="bookform">
      <div class="title">
        <h3>Name</h3>
        <input type="text" name="name"  value="<%=  author.name%>" placeholder="Enter Name">
      </div>
      <div class="description">
        <h3>Email</h3>
        <input type="email" name="email" value="<%=  author.email%>"  placeholder="Enter Email">
      </div>
      <div class="pages">
        <h3>Age</h3>
        <input type="Number" name="age"  value="<%=  author.age%>" placeholder="Enter Age">
      </div>
      <div class="submit">
        <input type="Submit" value="Update Author">
      </div>
    </div> 
  </form>
</body>
</html>