body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}


.author-wrapper {
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 30px;
  color: #00B7FF;
}

.author-wrapper h3 {
  color: black;
  display:inline-block;
  margin: 0px 2px;

}
a {
  text-decoration: none;
}
a:hover {
  color: royalblue;
}


